<!DOCTYPE html>
<html>
<head>
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <link src="/static/bootstrap/js/bootstrap.min.js" rel="stylesheet">
</head>
<body>
    <input id="dir" type="text" style="width:600px" placeholder="please input the json dir which your save in server">
    <button id="upload" >upload and show map</button>
    <script type="text/javascript">
        $(document).ready(function(){

            $("#upload").click(function(){

                var json_dir=$("#dir").val();
                if (json_dir.length ==0){
                    alert("please input your json dir");
                }
                else{
                    //console.log(json_dir);
                    $.ajax({
                        url: '/',
                        type: "POST",
                        data: {"jsondir":json_dir},
                        success:function(){
                            window.location={% url 'map' %}
                        }

                    })
                }

            })







        })
    </script>

</body>
</html>